# Env
.env
.env.local

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
.next/
out/
npm-debug.log*
*.tsbuildinfo

# OS / editor
.DS_Store
.idea/
.vscode/

# DB
pgdata/
